# ANAC RAW DATA EXTRACTION
ANAC_BASE_URL=https://sistemas.anac.gov.br/dadosabertos/Voos%20e%20opera%C3%A7%C3%B5es%20a%C3%A9reas/Voo%20Regular%20Ativo%20%28VRA%29/
START_YEAR=2022
END_YEAR=2026

# OurAirports
OUR_AIRPORTS_DATA_URL=https://davidmegginson.github.io/ourairports-data/airports.csv

# OPENMETEO
OPENMETEO_API_URL=https://archive-api.open-meteo.com/v1/archive

# G DRIVE consolidate dataset
CONSOLIDATED_FILE_ID=
